/* #region Start Global Variable */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-text-color: #777;
  --main-section-background: #ececec;
  --main-margin: 100px;
  --main-duration: 0.3s;
}
/* #endregion Global Variable */

/* #region Global Rules */
* {
  box-sizing: border-box!important;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Cairo', sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* #endregion Global Rules */

/* #region components */

/* #region special-title */
.special-title {
  width: fit-content;
  padding: 10px 20px;
  margin: 0 auto var(--main-margin);
  position: relative;
  border: 2px solid black;
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  transition: var(--main-duration);
  z-index: 1;
  cursor: default;
}
.special-title:hover {
  color: white;
  border-color: currentColor;
  transition-duration: var(--main-duration);
  transition-delay: 0.5s;
}
.special-title::before,
.special-title::after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-color);
  border-radius: 50%;
  transition: var(--main-duration);
}
.special-title::before {
  left: -30px;
}
.special-title::after {
  right: -30px;
}
.special-title:hover::after {
  animation: special-Title-After 0.5s linear 0s forwards;
}
.special-title:hover::before {
  animation: special-Title-Before 0.5s linear 0s forwards;
}
/* #region special-title animations */
@keyframes special-Title-After {
  50%{
    width: 12px;
    height: 12px;
    right: 0px;
    border-radius: 0;
    z-index: -1;
  }
  100% {
    width: 55%;
    height: 100%;
    right: 0px;
    border-radius: 0;
    z-index: -1;
  }
}
@keyframes special-Title-Before {
  50% {
    width: 12px;
    height: 12px;
    left: 0px;
    border-radius: 0;
    z-index: -1;
  }
  100% {
    width: 55%;
    height: 100%;
    left: 0px;
    border-radius: 0;
    z-index: -1;
  }
}
/* #endregion special-title animations */

/* #endregion title */
/* #region dots  */
section:has(.dots) {
  position: relative;
}
.dots {
  position: absolute;
}
.dots.up {
  top: 200px;
  right: 0;
}
.dots.down {
  bottom: 200px;
  left: 0;
}
/* #endregion dots  */

/* #endregion components */

/* #region header */
header {
  --height: 70px;
  background-color: white;
  position: relative;
  box-shadow: 0 0 10px #ddd;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container .links {
  height: var(--height);
  display: flex;
}
header .links > li {
  position: relative;
}
header .container .links > li > a {
  height: 100%;
  padding: 0 25px;
  display: flex;
  align-items: center;
  position: relative;
  color: black;
  font-size: 17px;
  text-transform: capitalize;
  overflow: hidden;
  transition: var(--main-duration);
}
header .container .links > li > a::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: -100%;
  transition: var(--main-duration);
}
header .container .links > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
header .links > li > a:hover::after {
  left: 0;
}
header .logo {
  color: var(--main-color);
  font-size: 25px;
}
@media (max-width: 767px) {
  header .container {
    flex-direction: column;
  }
  header .container .links {
    height: 50px;
  }
  header .container .links > li > a {
    padding: 10px;
    font-size: 15px;
  }
  header .container .links > li > a::after {
    top: auto;
    bottom: 0;
  }
  header .container .logo {
    margin: 5px;
  }
}
/* #region mega-menu */
header .links .mega-menu {
  width: 100%;
  height: fit-content;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: absolute;
  top: calc(var(--height) + 30px);
  left: 0;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  opacity: 0;
  transition: opacity var(--main-duration), top var(--main-duration);
}
header .links > li:last-of-type:hover + .mega-menu,
header .links .mega-menu:hover {
  opacity: 1;
  top: calc(var(--height) + 1px);
  z-index: 1;
}

header .mega-menu .image {
  flex: 2;
  display: flex;
  align-items: flex-start;
}
header .mega-menu .image img {
  max-width: 90%;
}
@media (max-width: 991px) {
  header .mega-menu .image {
    display: none;
  }
}
header .mega-menu .menu-links {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 40px;
}
@media (max-width:767px) {
  header .mega-menu .menu-links {
    grid-template-columns: 1fr;
  }
  header .mega-menu {
    padding: 10px;
    top: 90px;
  }  
}
header .mega-menu .menu-links li {
  padding: 15px;
  border-bottom: 1px solid #dedede;
  position: relative;
}
header .mega-menu .menu-links li::before {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fafafa;
  transition: var(--main-duration);
  z-index: -1;
}
header .mega-menu .menu-links li:hover::before {
  width: 100%;
}
header .mega-menu .menu-links li:is(:nth-last-child(2),:last-child) {
  border-bottom: none;
}
@media (max-width: 767px) {
  header .mega-menu .menu-links li:nth-last-child(2){
    border-bottom: 1px solid #dedede;
  }
}
header .mega-menu .menu-links li a {
  color: var(--main-color);
  font-weight: bold;
}
header .mega-menu .menu-links li a span {
  font-size: 18px;
  margin-left: 10px;
}
/* #endregion mega-menu */

/* #endregion header */

/* #region Landing  */
.landing {
  position: relative;
}
.landing::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -30px;
  left: 0;
  background-color: #ececec;
  transform: skewY(-6deg);
  transform-origin: top left;
  z-index: -1;
}
.landing .container {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}
.landing .image {
  width: 600px;
}
.landing .image img {
  max-width: 100%;
  animation: moveUpAndDown 3s linear infinite alternate;
}
@media (max-width: 991px) {
  .landing .container {
    justify-content: center;
  }
  .landing .image img {
    display: none;
  }
}
@keyframes moveUpAndDown {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(30px);
  }
}
.landing .go-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  color: var(--main-color);
  animation: 1.5s ease 0s infinite normal running ArrowShaking;
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
@keyframes ArrowShaking {
  0%,10%,20%,50%,80%,100% {
    transform: translate(-50%,0);
  }
  40%,60% {
    transform: translate(-50%,-10px);
  }
}
.landing .text h1 {
  margin: 10px 0;
  font-size: 40px;
  text-transform: capitalize;
  letter-spacing: -1px;
}
.landing .text p {
  width: 500px;
  color: #555;
  font-size: 23px;
  line-height: 1.7;
}
.landing .text h1 strong {
  transition: 0.6s;
  cursor: pointer;
}
.landing .text h1 strong:hover {
  color: var(--main-color);
  text-shadow: 0 0 5px var(--main-color-alt);
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .landing .text h1 {
    margin-bottom: 20px;
    font-size: 25px;
  }
  .landing .text p {
    max-width: 350px;
    font-size: 18px;
  }
}
/* #endregion Landing  */

/* #region articles */
.articles {
  padding: var(--main-margin) 0;
  background-color: white;
}
.articles .articles-container {
  --main-section-padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
}
.articles .articles-container li.card {
  background-color: white;
  box-shadow: 0 2px 10px 2px #eee;
  border-radius: 5px;
  overflow: hidden;
  transition: var(--main-duration);
}
.articles .articles-container li.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 3px 10px 3px #dedede;
}
.articles .articles-container li.card .image img {
  width: 100%;
}
.articles .articles-container li.card .text {
  padding: var(--main-section-padding);
}
.articles .articles-container li.card .text h4.title {
  font-size: 19px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.articles .articles-container li.card .text p {
  color: var(--main-text-color);
  line-height: 1.5;
}
.articles .articles-container li.card .read-more {
  padding: var(--main-section-padding);
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
  border-top: 1px solid #ddd;
}
.articles .articles-container li.card .read-more a {
  font-weight: bold;
  text-transform: capitalize;
}
.articles .articles-container li.card:hover .read-more i {
  animation: horizontal-shaking 0.5s linear infinite forwards;
}
@keyframes horizontal-shaking {
  to {
    transform: translateX(10px);
  }
}
.articles .zigzag {
  width: 100%;
  height: 30px;
  margin: var(--main-margin) 0;
}

/* #endregion articles */

/* #region gallery */
.gallery {
  padding: var(--main-margin) 0;
  background-color: var(--main-section-background);
}
.gallery .container .images-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .images-list .image {
  border: 15px solid white;
  box-shadow: 0 3px 20px 2px #bbb;
  overflow: hidden;
  position: relative;
}
.gallery .images-list .image::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff22;
  opacity: 0;
  transition: var(--main-duration);
}
.gallery .images-list .image:hover::after {
  max-width: 100%;
  animation: flashing 0.7s;
}
.gallery .images-list .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform var(--main-duration);
}
.gallery .images-list .image:hover img {
  transform: scale(1.1) rotate(5deg);
}
@keyframes flashing {
  50% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
  
}
/* #endregion gallery */

/* #region Features */
.Features {
  padding: var(--main-margin) 0;
  background-color: white;
}
.Features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.Features .container .box {
  border: 1px solid #ccc;
  overflow: hidden;
}
.Features .box.Quality { 
  --box-color: #f44036; 
}
.Features .box.Time { 
  --box-color: #009688; 
}
.Features .box.Passion { 
  --box-color: #03a9f4; 
}
.Features .box .image {
  position: relative;
}
.Features .box .image::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--box-color);
  position: absolute;
  opacity: 0.5;
}
.Features .box .image img {
  max-width: 100%;
}
.Features .box .text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: white;
}
.Features .box .text::before {
  content: "";
  width: 100%;
  height: 90%;
  background-color: white;
  position: absolute;
  top: 0;
  transform: translateY(-50%) skew(-60deg) rotate(45deg);
  z-index: -1;
  transition: var(--main-duration);
}
.Features .box:hover .text::before {
  transform: translateY(-50%) skew(60deg) rotate(45deg);
}
.Features .box .text .title {
  font-size: 40px;
  position: relative;
}
.Features .box .text .title::before {
  content: '';
  width: 70%;
  height: 5px;
  background-color: var(--box-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
}
.Features .box .text p {
  padding: 50px 0;
  font-size: 20px;
  text-align: center;
  line-height: 2;
  color: var(--main-text-color);
}
.Features .box .text button {
  position: relative;
  padding: 10px 33px;
  border: 3px solid var(--box-color);
  border-radius: 6px;
  font-size: 20px;
  background-color: transparent;
  color: var(--box-color);
  font-weight: bold;
  text-transform: capitalize;
  transition: var(--main-duration);
}
.Features .box .text button::before{
  content: '';
  width: 0;
  height: 100%;
  background-color: var(--box-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: var(--main-duration);
}
.Features .box:hover .text button::before {
  width: 100%;
}
.Features .box:hover .text button {
  color: white;
}
/* #endregion Features */

/* #region Testimonials  */
.Testimonials {
  padding: var(--main-margin) 0;
  background-color: var(--main-section-background);
}
.Testimonials ul.reviews {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 55px 35px;
}
.Testimonials ul.reviews > li {
  background-color: white;
  position: relative;
  padding: 20px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  border-radius: 5px;
}
.Testimonials ul.reviews > li img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(10%,-50%);
  border-radius: 50%;
  border: 10px solid var(--main-section-background);
}
.Testimonials ul.reviews > li .name {
  font-size: 18px;
}
.Testimonials ul.reviews > li .job {
  display: block;
  color: var(--main-text-color);
  margin: 10px 0;
}
.Testimonials ul.reviews > li ul.stars {
  display: flex;
  gap: 5px;
}
.Testimonials ul.reviews > li ul.stars li i.filled {
  color: #ffc107;
}
.Testimonials ul.reviews > li p.review {
  color: var(--main-text-color);
  line-height: 1.5;
  margin-top: 10px;
}
/* #endregion Testimonials */

/* #region Team members */
.Team-Members {
  padding: var(--main-margin) 0;
  background-color: white;
}
.Team-Members ul.team {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px 80px;
  padding-left: 50px;
}
.Team-Members ul.team .person {
  background-color: #f3f3f3;
  border-radius: 15px;
  padding: 10px;
  position: relative;
}
.Team-Members ul.team .person::before {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--main-section-background);
  transition: var(--main-duration);
  border-radius: inherit;
}
.Team-Members ul.team .person:hover::before {
  width: 100%;
}
.Team-Members ul.team .person .image {
  position: relative;
  border-radius: inherit;
  overflow: hidden;
  top: 60px;
  right: 60px;
  margin-bottom: 60px;
}
.Team-Members ul.team .person .image img {
  max-width: 100%;
  transition: var(--main-duration);
}
.Team-Members ul.team .person:hover .image img {
  filter: grayscale(100%);
}
.Team-Members ul.team .person .social-media-links {
  width: 70px;
  height: 330px;
  padding: 36px 0;
  position: absolute;
  top: 60px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 17px;
}
.Team-Members ul.team .person .social-media-links i {
  color: #777;
  transition: var(--main-duration);
}
.Team-Members ul.team .person .social-media-links i:hover {
  color: var(--main-color);
}
.Team-Members ul.team .person .name {
  padding: 10px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 22px;
  display: block;
  transition: var(--main-duration);
  position: inherit;
}
.Team-Members ul.team .person:hover .name {
  color: var(--main-text-color);
}
.Team-Members ul.team .person .Description {
  padding: 10px;
  position: inherit;
}

/* #endregion Team members */

/* #region Services */
.Services {
  padding: var(--main-margin) 0;
  background-color: var(--main-section-background);
}
.Services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap:40px;
  counter-reset: Services;
}
.Services .container .srv {
  background-color: white;
  box-shadow: 
    0 12px 20px 0 rgb(0 0 0 / 13%), 
    0 2px 4px 0 rgb(0 0 0 / 12%);
  position: relative;
  transition: var(--main-duration);
}
.Services .container .srv:hover {
  transform: translateY(-10px);
}
.Services .container .srv::before {
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  transition: var(--main-duration);
}
.Services .container .srv:hover::before {
  width: 100%;
}
.Services .srv .info {
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Services .srv i {
  color: #d5d5d5;
  display: block;
  width: fit-content;
  margin: 30px auto;
}
.Services .srv .srv-name {
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: bold;
  color: var(--main-color);
  text-align: center;
}
.Services .srv .info span {
  width: 50px;
  height: 50px;
  background-color: var(--main-color);
  position: relative;
}
.Services .srv .info span::before {
  content: '';
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background-image: linear-gradient(
    to right,
    var(--main-color) 50%,
    #d5d5d5 50%
  );
  transform: skew(-30deg);
}
.Services .srv .info span::after {
  content: '0' counter(Services);
  counter-increment: Services;
  color: white;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.Services .srv .info a {
  color: var(--main-color);
  margin-right: 20px;
}
.Services .srv .info a:hover {
  color: var(--main-color-alt);
}
/* #endregion Services */

/* #region Our Skills */
.Our-Skills {
  padding: var(--main-margin) 0;
  background-color: white;
}
.Our-Skills .container {
  display: flex;
}
.Our-Skills .image {
  flex: 4;
}
@media (max-width: 991px) {
  .Our-Skills .image {
    display: none;
  }
}
.Our-Skills .image img {
  max-width: 100%;
}
.Our-Skills ul.skills {
  display: flex;
  flex-direction: column;
  flex: 5;
  gap: 20px;
}
.Our-Skills ul.skills li h4 {
  margin-bottom: 20px;
}
.Our-Skills ul.skills li progress {
  height: 30px;
  border-radius: 5px;
  width: 100%;
  position: relative;
}
.Our-Skills ul.skills li progress::-webkit-progress-bar {
  background-color: #eee;
}
.Our-Skills ul.skills li progress::-webkit-progress-value {
  background: var(--main-color); 
}
.Our-Skills ul.skills li progress::after {
  content: attr(value) '%';
  padding: 3px;
  position: absolute;
  right: 0;
  top: -30px;
  color: var(--main-color);
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 11px;
  font-weight: bold;
}
/* #endregion Our Skills */

/* #region How It Works */
.How-It-Works {
  padding: var(--main-margin) 0;
  background-color: var(--main-section-background);
}
.How-It-Works .container {
  display: flex;
  align-items: center;
  gap: 100px;
}
.How-It-Works .container .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .How-It-Works .container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
}
.How-It-Works .steps .step {
  display: flex;
  padding: 30px;
  margin-bottom: 20px;
  position: relative;
  background-color: #f6f5f5;
  border: 2px solid white;
  border-radius: 6px;
}
@media (max-width: 991px) {
  .How-It-Works .steps .step {
    flex-direction: column;
  }
}
.How-It-Works .steps .step::before {
  content: '';
  width: 0;
  height: 0;
  background-color: var(--main-section-background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: var(--main-duration);
  z-index: 1;
}
.How-It-Works .steps .step:hover::before {
  width: 100%;
  height: 100%;
}
.How-It-Works .steps .step :where(img,.text) {
  z-index: 2;
}
.How-It-Works .steps .step img {
  max-width: 65px;
  margin-right: 30px;
  align-self: center;
}
@media (max-width: 991px) {
  .How-It-Works .steps .step img {
    margin: 0 auto 30px;
  }
  .How-It-Works .steps .step .text {
    text-align: center;
  }
}
.How-It-Works .steps .step .text .title {
  margin-bottom: 10px;
  font-size: 22px;
}
.How-It-Works .steps .step .text p {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 1.7;
}

/* #endregion How It Works */

/* #region Latest Events */
.Events {
  padding: var(--main-margin) 0;
  background-color: white ;
}
.Events .container {
  display: flex;
  flex-wrap: wrap;
}
.Events .container .image {
  max-width: 450px;
}
.Events .container .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .Events .container {
    gap: 50px;
  }
  .Events .container .image {
    display: none;
  }
}
.Events .container .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Events .info .time {
  display: flex;
  gap: 10px;
}
.Events .info .time .unit {
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  transition: var(--main-duration);
}
.Events .info .time .unit:hover {
  border-color: var(--main-color);
} 
.Events .info .time .unit span {
  flex: 1;
  padding: 10px;
  font-size: 35px;
  font-weight: bold;
  color: var(--main-color);
  text-align: center;
}
.Events .info .time .unit p {
  width: 100%;
  padding: 8px 10px;
  border-top: inherit;
  font-size: 13px;
  text-align: center;
}
.Events .info h4 {
  margin: 10px 0;
  font-size: 30px;
}
.Events .info .text {
  color: var(--main-text-color);
  font-size: 19px;
  text-align: center;
  line-height: 1.7;
}
.Events .subscribe {
  width: 100%;
}
.Events .subscribe form {
  width: 600px;
  padding: 30px 40px;
  margin: 20px auto;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
  position: relative;
}
@media (max-width: 767px) {
  .Events .subscribe form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 0;
  }
}
.Events .subscribe form input {
  padding: 20px;
  border-radius: inherit;
  border: none;
  outline: none;
}
.Events .subscribe form input[type="text"] {
  flex: 1;
  caret-color: var(--main-color);
}
.Events .subscribe form input[type="text"]::placeholder {
  transition: var(--main-duration);
}
.Events .subscribe form input[type="text"]:focus::placeholder {
  opacity: 0;
}
.Events .subscribe form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: var(--main-duration);
}
.Events .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
} 
/* #endregion Latest Events */

/* #region Pricing Plans */
.Pricing-Plans {
  padding: var(--main-margin) 0;
  background-color: var(--main-section-background);
}
.Pricing-Plans .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.Pricing-Plans .plan {
  background-color:white;
  box-shadow: 
    0 12px 20px 0 rgb(0 0 0 / 13%), 
    0 2px 4px 0 rgb(0 0 0 / 12%);
  position: relative;
}
.Pricing-Plans .plan::after,
.Pricing-Plans .plan::before {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  transition: var(--main-duration);
}
.Pricing-Plans .plan:hover::after,
.Pricing-Plans .plan:hover::before {
  width: 100%;
}
.Pricing-Plans .plan * {
  z-index: 1;
}
.Pricing-Plans .plan::before {
  top: 0;
  left: 0;
}
.Pricing-Plans .plan::after {
  top: 50%;
  right: 0;
}
.Pricing-Plans .plan.Popular {
  position: relative;
}
@media (min-width: 1200px) {
  .Pricing-Plans .plan.Popular {
    top: -30px;
  }
}
.Pricing-Plans .plan.Popular label {
  background-color: var(--main-color);
  color: white;
  display: block;
  font-weight: bold;
  transform: rotate(90deg);
  width: fit-content;
  padding: 10px;
  position: absolute;
  right: -15px;
  top: 37px;
  cursor: vertical-text;
  z-index: 1;
}
.Pricing-Plans .plan.Popular label::after, 
.Pricing-Plans .plan.Popular label::before {
  content: '';
  width: 90%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  z-index: -1;
  right: -8px;
  top: 0px;
}
.Pricing-Plans .plan.Popular label::after {
  transform: skew(45deg);
}
.Pricing-Plans .plan.Popular label::before {
  transform: skew(-45deg);
}
.Pricing-Plans .plan .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Pricing-Plans .plan .info .name {
  font-size: 25px;
  letter-spacing: -1px;
  font-weight: bold;
  margin: 30px 0;
}
.Pricing-Plans .plan .info img {
  width: 80px;
  margin-bottom: 30px;
}
.Pricing-Plans .plan .info .amount {
  font-size: 60px;
  font-weight: bold;
  color: var(--main-color);
}
.Pricing-Plans .plan .info .time {
  color: var(--main-text-color);
  margin: 7px 0 20px;
}
.Pricing-Plans .plan .features li {
  padding: 15px;
  border-top: 1px solid #eee;
  position: relative;
}
.Pricing-Plans .plan .features li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: bold;
  color: var(--main-color);
  font-size: 20px;
}
.Pricing-Plans .plan a {
  width: fit-content;
  padding: 15px 20px;
  margin: 40px auto;
  display: block;
  border: 2px solid var(--main-color);
  border-radius: 6px;
  color: var(--main-color);
  font-weight: bold;
  transition: var(--main-duration);
  position: relative;
  z-index: 1;
}
.Pricing-Plans .plan a:hover {
  color: white;
}
.Pricing-Plans .plan a::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--main-duration);
  z-index: -1;
}
.Pricing-Plans .plan a:hover::after {
  background-color: var(--main-color);  
}
/* #endregion Pricing Plans */

/* #region Top Videos */
.Top-Videos {
  padding: var(--main-margin) 0;
  background-color: white;
}
.Top-Videos .container .holder {
  display: flex;
  border: 1px solid #ddd;
}
@media (max-width: 991px) {
  .Top-Videos .container .holder {
    flex-wrap: wrap;
  }
}
.Top-Videos .list-videos {
  min-width: 300px;
  background-color: white;
  flex: 1;
}
.Top-Videos .list-videos .filters {
  padding: 20px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}
.Top-Videos .list-videos ul li {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  transition: var(--main-duration);
  cursor: pointer;
}
.Top-Videos .list-videos ul li:hover {
  background-color: #fafafa;
}
.Top-Videos .list-videos ul li .video-title {
  margin-bottom: 10px;
  transition: var(--main-duration);
}
.Top-Videos .list-videos ul li:hover .video-title {
  color: var(--main-color);
}
.Top-Videos .list-videos ul li .duration {
  color: var(--main-text-color);
}
.Top-Videos .video-preview {
  padding: 10px;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Top-Videos .video-preview img {
  max-width: 100%;
}
.Top-Videos .video-preview .caption {
  padding: 20px;
  margin-top: 10px;
  background-color: white;
}
/* #endregion Top Videos */

/* #region stats */
.stats {
  padding: var(--main-margin) 0;
  background-image: url("../images/stats.jpg");
  background-size: cover;
  min-height: 300px;
  position: relative;
  z-index: 1;
}
.stats::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255 255 255 / 95%);
  z-index: -1;
}
.stats h2 {
  width: fit-content;
  margin: 0 auto 50px;
  font-size: 40px;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.stats .card {
  flex: 1;
  padding: 30px;
  background-color: white;
  text-align: center;
  font-weight: bold;
  position: relative;
}
.stats .card::after,
.stats .card::before {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  background-color: var(--main-color);
  z-index: 10;
  transition: 1s;
}
.stats .card::before {
  bottom: 0;
  left: 0;
}
.stats .card::after {
  top: 0;
  right: 0;
}
.stats .card:hover::after,
.stats .card:hover::before {
  height: 100%;
}

.stats .card span {
  display: block;
  font-size: 50px;
  margin: 10px;
}
.stats .card p {
  color:var(--main-color);
  font-size: 20px;
  font-style: italic;
}
/* #endregion stats */

/* #region discount */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.discount > div {
  padding: 20px;
  flex: 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width:991px) {
  .discount > div {
    flex-basis: 100%;
  }
}
.discount div h3 {
  margin: 35px 0;
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .image {
  position: relative;
  color: white;
  background-size: cover;
  z-index: 1;
  animation: change-background 10s linear infinite;
}
@keyframes change-background {
  0% , 100% {
    background-image: url("../images/discount-background1.jpg");
  }
  50% {
    background-image: url("../images/discount-background2.jpg");
  }
}
.discount .image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}
.discount .image p {
  max-width: 500px;
  font-size: 18px;
  text-align: center;
  line-height: 1.6;
}
.discount .image img {
  width: 300px;
  max-width: 100%;
}
.discount .form-holder form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.discount .form-holder form :where(input,textarea) {
  min-width: 300px;
  display: block;
  padding: 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.discount .form-holder form input[type="submit"] {
  border: none;
  background-color: var(--main-color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: var(--main-duration);
  cursor: pointer;
}
.discount .form-holder form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
.discount .form-holder form textarea {
  height: 200px;
  resize: none;
}
/* #endregion discount */

/* #region footer */
footer {
  background-color: #191919;
}
footer .container {
  padding: 70px 15px;
  display: flex;
  gap: 40px;
}
footer .box {
  flex: 1 25%;
  color: #b9b9b9;
}
@media (max-width:991px) {
  footer .container {
    flex-wrap: wrap;
  }
  footer .box {
    flex-basis: calc(50% - 80px);
  }
}
@media (max-width:600px) {
  footer .box {
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer .box.info div {
    flex-direction: column;
  }
}
footer .box h4 {
  font-size: 50px;
  color: white;
}
footer .box:has(.social-media) {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .box .social-media {
  display: flex;
  gap: 10px;
}
footer .box .social-media li a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #313131;
  color: inherit;
  font-size: 20px;
  transition: var(--main-duration);
}
footer .box .social-media li a:has(.fa-facebook-f):hover {
  background-color: #1877f2;
}
footer .box .social-media li a:has(.fa-twitter):hover {
  background-color: #1da1f2;
}
footer .box .social-media li a:has(.fa-youtube):hover {
  background-color: #f00;
}
footer .box > p {
  line-height: 2;
}
footer .box.links li {
  padding: 15px 0;
  border-bottom: 1px solid #444;
  list-style-position: inside;
  font-size: 16px;
  transition: var(--main-duration);
}
footer .box.links li:hover {
  color: white;
  transform: translateX(10px);
}
footer .box.links li:last-of-type {
  border: none;
}
footer .box.links li::marker {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-left: 10px;
  color: var(--main-color);
}
footer .box.links li a {
  margin-left: 10px;
  color: inherit;
}
footer .box.info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .box.info div {
  display: flex;
  gap: 20px;
  align-items: center;
}
footer .box.info div i {
  font-size: 25px;
  color: var(--main-color);
}
footer .box.info div p {
  line-height: 1.7;
}
footer .box .images {
  width: 264px;
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 8px;
}
footer .box img {
  width: 80px;
  border: 3px solid white;
}
footer .copy-right {
  padding: 25px;
  border-top: 1px solid #444;
  text-align: center;
  color: white;
}
footer .copy-right i {
  margin: 3px;
  color: red;
  transition: var(--main-duration);
  &:hover {
    transform: scale(1.3);
    color: #c00000;
  }
}
/* #endregion footer */